:host {
	display: block;
}

.tasklist__group {
	padding-left: 0;
	margin: 0;
}

.tasklist__group-header {
	padding-bottom: 1rem;
	border-bottom: 1px solid #c0c7ca;
}

.tasklist__group-header h1,
.tasklist__group-header h2,
.tasklist__group-header h3,
.tasklist__group-header h4,
.tasklist__group-header h5,
.tasklist__group-header h6 {
	font-size: var(--semantic-font-size-md);
	line-height: var(--semantic-font-line-height-dense);
	font-weight: var(--semantic-font-weight-bold);
}
