@layer kern-component {
	progress {
		display: block;
		height: 0;
		overflow: hidden;
		width: 0;
	}
	.bar .border {
		fill: transparent;
		stroke: black;
	}
	.bar .background {
		fill: lightgray;
		stroke: white;
	}
	.bar .progress {
		fill: #0075ff;
		stroke: transparent;
		transition: 250ms ease-in-out 50ms;
	}
	.cycle .background {
		fill: transparent;
		stroke: lightgray;
	}
	.cycle .border {
		fill: transparent;
		stroke: black;
	}
	.cycle .whitespace {
		fill: transparent;
		stroke: white;
	}
	.cycle .progress {
		fill: transparent;
		stroke: #0075ff;
		transform-origin: 50% 50%;
		transform: rotate(-90deg);
		transition: 250ms ease-in-out 50ms;
	}
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion */
	@media (prefers-reduced-motion) {
		.progress {
			transition-duration: 0s;
			transition-delay: 0s;
		}
	}
}
