@layer kern-component {
	:host {
		display: block;
	}

	dialog {
		border: 2px solid rgba(0, 0, 0, 0.7);
		border-radius: var(--semantic-borderradius-xs, 8px);
		padding: 0;
	}
	dialog::backdrop {
		background: var(--semantic-color-bg-static-base-inverse-faded, rgba(0, 0, 0, 0.7));
	}

	dialog kern-button {
		display: flex;
		flex-direction: row-reverse;
		padding: var(--semantic-space-2xs, 4px);
	}

	dialog kern-button + .content {
		padding: var(--semantic-space-none, 0px) var(--semantic-space-fluid-2xl, 32px) var(--semantic-space-fluid-2xl, 32px) var(--semantic-space-fluid-2xl, 32px);
	}

	.content {
		padding: var(--semantic-space-2xl, 32px) var(--semantic-space-fluid-2xl, 32px) var(--semantic-space-fluid-2xl, 32px) var(--semantic-space-fluid-2xl, 32px);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		align-self: stretch;
	}
}
