@layer kern-component {
	:host {
		display: block;
	}

	.accordion-group {
		position: relative;
		border-radius: var(--semantic-borderradius-none, 0px);
		border-top: 1px solid var(--semantic-color-stroke-static-subdued, #c0c7ca);
	}

	.accordion-group kern-accordion:first-of-type kol-accordion {
		border-radius: var(--semantic-borderradius-xs, 8px) var(--semantic-borderradius-xs, 8px) 0 0;
	}
	.accordion-group kern-accordion:first-of-type kol-accordion button kol-span-wc {
		border-radius: var(--semantic-borderradius-xs, 8px) var(--semantic-borderradius-xs, 8px) 0 0;
	}

	.accordion-group kern-accordion:last-of-type kol-accordion {
		border-radius: 0 0 var(--semantic-borderradius-xs, 8px) var(--semantic-borderradius-xs, 8px);
	}
	.accordion-group kern-accordion:last-of-type kol-accordion .accordion {
		border-bottom: none;
	}
	.accordion-group kern-accordion:last-of-type kol-accordion button kol-span-wc {
		border-radius: 0 0 var(--semantic-borderradius-xs, 8px) var(--semantic-borderradius-xs, 8px);
	}
}
