@import "mixins";

a > kol-span-wc,
button > kol-span-wc {
	border-radius: var(--semantic-space-xs);
	outline-style: solid;
	outline-width: 1px;
	outline-offset: -1px;
	display: flex;
	padding: var(--semantic-space-sm) var(--semantic-space-md);
	justify-content: center;
	align-items: flex-start;
	gap: var(--semantic-space-xs);
	text-align: left;

	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-property: background-color, color, outline-color;

	> span {
		align-items: flex-start;

		kol-icon {
			font-size: var(--semantic-font-size-lg);
			height: var(--semantic-size-xl);
    		width: var(--semantic-size-xl);
		}
	}

	.span-label {
		font-size: var(--semantic-font-size-base);
		font-weight: var(--semantic-font-weight-bold);
		line-height: var(--semantic-font-line-height-default); /* 24px */
	}

}

.button a.hide-label > kol-span-wc,
.button.hide-label > kol-span-wc {
	padding: var(--semantic-space-sm) var(--semantic-space-md);
	span {
		height: var(--semantic-size-xl);
		width: var(--semantic-size-xl);
		kol-icon {
			font-size: var(--semantic-font-size-lg);
		}
	}
}
// .button a.hide-label &[aria-label="large"] > kol-span-wc,
button {
	&[aria-label~="large"] {

		> kol-span-wc {
			// padding: var(--semantic-space-sm) var(--semantic-space-md);
			span {
				height: var(--semantic-size-3xl) !important;
				width: var(--semantic-size-3xl) !important;
				kol-icon {
					font-size: var(--semantic-font-size-3xl);
				}
			}
		}

	}
}

button {
	&:focus {

		&:focus-visible {
			outline: 0;
		}

		> kol-span-wc {
			box-shadow: 0 0 0 2px var(--semantic-color-stroke-static-base-inverse), 0 0 0 4px var(--semantic-color-stroke-static-accent), 0 0 0 6px var(--semantic-color-stroke-static-accent-faded);
			transition: outline-offset 0.2s linear;
		}
	}
}

.primary {
	button {
		> kol-span-wc {
			background-color: var(--semantic-color-bg-action-base-inverse-default);
			outline-color: var(--semantic-color-stroke-action-base-default);
			color: var(--semantic-color-fg-action-base-inverse-default);
		}

		&:not(:disabled) {
			&:hover {
				> kol-span-wc {
					background-color: var(--semantic-color-bg-action-base-inverse-hovered);
					outline-color: var(--semantic-color-stroke-action-base-hovered);
					color: var(--semantic-color-fg-action-base-inverse-hovered);
				}
			}
		}

		&:active {
			> kol-span-wc {
				background-color: var(--semantic-color-bg-action-base-inverse-active);
				outline-color: var(--semantic-color-stroke-action-base-active);
				color: var(--semantic-color-fg-action-base-inverse-active);
			}
		}

		&:focus {
			&:not(:focus-visible) {
				> kol-span-wc {
					outline: 1px solid var(--semantic-color-stroke-action-base-active);
					background: var(--semantic-color-bg-action-base-inverse-active);
					box-shadow: none;
				}
			}
		}

		&:disabled,
		&[disabled]{
			opacity: 0.4;
		}
	}
}

.secondary {
	button {
		> kol-span-wc {
			background-color: var(--semantic-color-bg-action-base-default);
			outline-color: var(--semantic-color-stroke-action-base-default);
			color: var(--semantic-color-fg-action-base-default);
		}

		&:not(:disabled) {
			&:hover {
				> kol-span-wc {
					background-color: var(--semantic-color-bg-action-base-hovered);
					outline-color: var(--semantic-color-stroke-action-base-hovered);
					color: var(--semantic-color-fg-action-base-hovered);
				}
			}
		}

		&:active {
			> kol-span-wc {
				background-color: var(--semantic-color-bg-action-base-active);
				outline-color: var(--semantic-color-stroke-action-base-active);
				color: var(--semantic-color-fg-action-base-active);
			}
		}

		&:focus {
			&:not(:focus-visible) {
				> kol-span-wc {
					outline: 1px solid var(--semantic-color-stroke-action-base-selected);
					background-color: var(--semantic-color-bg-action-base-active);
					box-shadow: none;
				}
			}
		}

		&:disabled,
		&[disabled]{
			opacity: 0.4;
		}
	}
}

.ghost {
	button {
		> kol-span-wc {
			background-color: var(--semantic-color-bg-action-muted-default);
			outline-color: var(--core-color-black-alpha-0);
			color: var(--semantic-color-fg-action-base-default);
		}

		&:not(:disabled) {
			&:hover {
				> kol-span-wc {
					background-color: var(--semantic-color-bg-action-muted-hovered);
					color: var(--semantic-color-fg-action-base-hovered);
				}
			}
		}

		&:active {
			> kol-span-wc {
				background-color: var(--semantic-color-bg-action-muted-active);
				color: var(--semantic-color-fg-action-base-active);
			}
		}

		&:focus {
			&:not(:focus-visible) {
				> kol-span-wc {
					background-color: var(--semantic-color-bg-action-muted-default);
					color: var(--semantic-color-fg-action-base-default);
					box-shadow: none;
				}
			}
			> kol-span-wc {
				background-color: var(--semantic-color-stroke-static-base-inverse);
			}
		}

		&:disabled,
		&[disabled]{
			opacity: 0.4;
		}
	}
}
