/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	// 100% = 16px
	font-size: var(--semantic-font-scale-root);
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%; /* 2 */

	// scroll-padding-top: 60px; // height of sticky header

	// Universal Border Box
	// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
	box-sizing: border-box;
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
	display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
	/* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
	/* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type='checkbox'],
[type='radio'] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

*:not(i) {
	font-family: var(--semantic-font-family-default);
}

*[tabindex]:focus,
kol-input:not(.checkbox, .radio) .input:focus-within,
kol-input:is(.checkbox, .radio) input:focus,
summary:focus {
	cursor: pointer;
	// outline-offset: 0 !important;
    // outline-style: none !important;
    // outline-width: 0 !important;
	box-shadow: 0 0 0 2px var(--semantic-color-stroke-static-base-inverse), 0 0 0 4px var(--semantic-color-stroke-static-accent), 0 0 0 6px var(--semantic-color-stroke-static-accent-faded);
	transition: outline-offset 0.2s linear;
}

kol-heading-wc {
	font-weight: var(--semantic-font-weight-bold);
}

kol-span-wc,
kol-span-wc > span {
	gap: var(--semantic-space-xs);
}

.success > kol-icon::part(icon) {
	color: var(--semantic-color-fg-static-success-contrast);
}

.warning > kol-icon::part(icon) {
	color: var(--semantic-color-fg-static-warning-contrast);
}

.info > kol-icon::part(icon) {
	color: var(--semantic-color-fg-static-info-contrast);
}

.danger > kol-icon::part(icon) {
	color: var(--semantic-color-fg-static-danger-contrast);
}

kol-button[_custom-class='block'] {
	display: block;
	width: 100%;
}

:host([hidden]) {
	display: none;
}



// Tooltip
kol-tooltip-wc .tooltip-area {
	background: var(--semantic-color-bg-static-base-inverse);
}
kol-tooltip-wc .tooltip-arrow {
	border-radius: 2px;
	background: var(--semantic-color-bg-static-base-inverse);
}
kol-tooltip-wc .tooltip-content {
	display: flex;
	padding: var(--semantic-space-sm);
	flex-direction: column;
	align-items: flex-start;
	gap: 0.625rem;
	color: var(--semantic-color-fg-static-base-inverse);
	border-radius: var(--semantic-borderradius-2xs);
	background: var(--semantic-color-bg-static-base-inverse);
}


// ######################## COMPONENTS

// ------------------------ kern-text
p {
	color: var(--semantic-color-fg-static-base, #191C1D);

	&.small {
		font-size: var(--semantic-font-size-xs);
		color: var(--semantic-color-fg-static-danger-contrast);
	}

	&.large {
		font-size: var(--semantic-font-size-md);
		color: var(--semantic-color-fg-static-danger-contrast);
	}
}

// Reset required content global
.required label > span::after,
.required legend > span::after {
    content: "";
}


// Error for Inputs with icon
kol-alert-wc {
	order: 5;
	&.msg {
		&.error {
			kol-icon::part(icon) {
				font-family: "Material Symbols Rounded", serif;
				font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 200, "opsz" 24;
				&::after {
					color: var(--semantic-color-fg-static-danger);
					font-size: var(--semantic-font-size-lg);
				}
			}

			.heading {
				display: flex;
				gap: var(--semantic-space-xs);
				align-items: flex-start;
				align-self: stretch;
				background-color: inherit;
				padding: 0;

				.heading-icon {
					width: var(--semantic-size-xl, 24px);
					height: var(--semantic-size-xl, 24px);
					color: var(--semantic-color-bg-static-danger);
					background-color: rgba(0, 0, 0, 0);
				}

				.heading-content {
					.content {
						color: var(--semantic-color-fg-static-danger-contrast, #B33030);
						font-size: var(--semantic-font-size-base);
						font-weight: var(--semantic-font-weight-bold);
					}
				}
			}

		}
	}
}