h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--semantic-font-weight-bold);
	font-family: var(--semantic-font-family-bold);
	color: var(--semantic-color-fg-static-base);
}

h1 {
	font-size: var(--semantic-font-size-3xl);
	line-height: var(--semantic-font-line-height-dense);
}

h2 {
	font-size: var(--semantic-font-size-2xl);
	line-height: var(--semantic-font-line-height-dense);
}

h3 {
	font-size: var(--semantic-font-size-lg);
	line-height: var(--semantic-font-line-height-dense);
}

h4 {
	font-size: var(--semantic-font-size-md);
	line-height: var(--semantic-font-line-height-dense);
}

h5 {
	font-size: var(--semantic-font-size-sm);
	line-height: var(--semantic-font-line-height-dense);
}

h6 {
	font-size: var(--semantic-font-size-base);
	line-height: var(--semantic-font-line-height-dense);
}
