$material-symbols-font-path: '~material-symbols/';
@use '../../../../assets/material-symbols/index.scss';

:host {
	display: inline-block;
	--components-icon-size-small: 1.25rem;
	--components-icon-size: 1.5rem;
	--components-icon-size-medium: 2rem;
	--components-icon-size-large: 3rem;


}

:host > i {
	width: var(--components-icon-size);
	height: var(--components-icon-size);

	&:after {
		font-size: var(--components-icon-size);
		display: block;
		width: var(--components-icon-size);
		height: var(--components-icon-size);
	}
}

//// 'FILL' [0, 1], 'wght' [100, 200, ..., 700], 'GRAD' [-25, 0, 200], 'opsz' [20, 24, 40, 48]
.material-symbols-outlined,
.material-symbols-rounded {
	// font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 200, 'opsz' 24;
	// width: var(--components-icon-size);
	// height: var(--components-icon-size);

	&::after {
		font-size: var(--components-icon-size);
		display: block;
		width: var(--components-icon-size);
		height: var(--components-icon-size);
	}

	&.filled {
		font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 200, 'opsz' 24;

		&::after {
			display: block;
			width: var(--components-icon-size);
			height: var(--components-icon-size);
		}
	}

	&.small {
		font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 200, 'opsz' 20;
		width: var(--components-icon-size-small);
		height: var(--components-icon-size-small);

		&.filled {
			font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 200, 'opsz' 20;
		}

		&::after {
			font-size: var(--components-icon-size-small);
			display: block;
			width: var(--components-icon-size-small);
			height: var(--components-icon-size-small);
		}
	}

	&.medium {
		font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 200, 'opsz' 32;
		width: var(--components-icon-size-medium);
		height: var(--components-icon-size-medium);

		&.filled {
			font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 200, 'opsz' 32;
		}

		&::after {
			font-size: var(--components-icon-size-medium);
			display: block;
			width: var(--components-icon-size-medium);
			height: var(--components-icon-size-medium);
		}
	}

	&.large {
		font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 200, 'opsz' 48;
		width: var(--components-icon-size-large);
		height: var(--components-icon-size-large);

		&.filled {
			font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 200, 'opsz' 48;
		}

		&::after {
			font-size: var(--components-icon-size-large);
			display: block;
			width: var(--components-icon-size-large);
			height: var(--components-icon-size-large);
		}
	}
}

// Override for AlertType Icons
.codicon {
	&:before {
		content: unset;
	}

	// &:after {
	// 	font-size: var(--components-icon-size) !important;
	// }
}


.codicon-pass {
	&:after {
		content: "check_circle";
	}
}

.codicon-error {
	&:after {
		content: "emergency_home";
	}
}

.codicon-info {
	&:after {
		content: "info";
	}
}

.codicon-warning {
	&:after {
		content: "warning";
	}
}

.codicon-link-external {
	&:after {
		content: "open_in_new";
	}
}

[class*="material-symbols"] {
	&.add {
		&:after {
			content: "add";
		}
	}

	&.all_inclusive {
		&:after {
			content: "all_inclusive";
		}
	}

	&.arrow_down {
		&:after {
			content: "arrow_down";
		}
	}

	&.arrow_up {
		&:after {
			content: "arrow_up";
		}
	}

	&.arrow_forward {
		&:after {
			content: "arrow_forward";
		}
	}

	&.arrow_back {
		&:after {
			content: "arrow_back";
		}
	}

	&.autorenew{
		&:after {
			content: "autorenew";
		}
	}

	&.close{
		&:after {
			content: "close";
		}
	}


	&.mail{
		&:after {
			content: "mail";
		}
	}

	&.chat {
		&:after {
			content: "chat";
		}
	}

	&.check {
		&:after {
			content: "check";
		}
	}

	&.checklist {
		&:after {
			content: "checklist";
		}
	}

	&.check_circle {
		&:after {
			content: "check_circle";
		}
	}

	&.badge_check_circle {
		color: var(--semantic-color-fg-static-success);
		&:after {
			content: "check_circle";
		}
	}

	&.content_copy {
		&:after {
			content: "content_copy";
		}
	}

	&.calendar_today {
		&:after {
			content: "calendar_today";
		}
	}

	&.delete{
		&:after {
			content: "delete";
		}
	}

	&.draft{
		&:after {
			content: "draft";
		}
	}

	&.drive_folder_upload {
		&:after {
			content: "drive_folder_upload";
		}
	}

	&.done{
		&:after {
			content: "done";
		}
	}

	&.download {
		&:after {
			content: "download";
		}
	}

	&.easy_language {
		&:after {
			content: "local_library";
		}
	}

	&.edit {
		&:after {
			content: "edit";
		}
	}

	&.emergency_home {
		&:after {
			content: "emergency_home";
		}
	}

	&.badge_emergency_home {
		color: var(--semantic-color-fg-static-danger);
		&:after {
			content: "emergency_home";
		}
	}

	&.expand_more {
		&:after {
			content: "expand_more";
		}
	}

	&.expand_less {
		&:after {
			content: "expand_less";
		}
	}

	&.home {
		&:after {
			content: "home";
		}
	}

	&.info {
		&:after {
			content: "info";
		}
	}

	&.badge_info {
		color: var(--semantic-color-fg-static-info);
		&:after {
			content: "info";
		}
	}


	&.keyboard_arrow_down {
		&:after {
			content: "keyboard_arrow_down";
		}
	}

	&.keyboard_arrow_left {
		&:after {
			content: "keyboard_arrow_left";
		}
	}

	&.keyboard_arrow_right {
		&:after {
			content: "keyboard_arrow_right";
		}
	}

	&.keyboard_arrow_up {
		&:after {
			content: "keyboard_arrow_up";
		}
	}

	&.keyboard_double_arrow_left {
		&:after {
			content: "keyboard_double_arrow_left";
		}
	}

	&.keyboard_double_arrow_right {
		&:after {
			content: "keyboard_double_arrow_right";
		}
	}

	&.library_add_check {
		&:after {
			content: "library_add_check";
		}
	}

	&.logout {
		&:after {
			content: "logout";
		}
	}

	&.open_in_new {
		&:after {
			content: "open_in_new";
		}
	}

	&.remove {
		&:after {
			content: "remove";
		}
	}

	&.search{
		&:after {
			content: "search";
		}
	}

	&.sign_language{
		&:after {
			content: "sign_language";
		}
	}

	&.more_vert{
		&:after {
			content: "more_vert";
		}
	}


	&.question_mark{
		&:after {
			content: "question_mark";
		}
	}

	&.visibility {
		&:after {
			content: "visibility";
		}
	}

	&.visibility_off {
		&:after {
			content: "visibility_off";
		}
	}

	&.warning {
		&:after {
			content: "warning";
		}
	}

	&.badge_warning {
		color: var(--semantic-color-fg-static-warning);
		&:after {
			content: "warning";
		}
	}

}
