:host {
	fieldset {
		border: 0px;
		margin: 0px;
		padding: 0px;
		flex-wrap: wrap;
		// position: relative;
		padding-top: 0;
		
		&.horizontal {
			kol-input {
				padding-right: var(--semantic-space-2xl);
				padding-bottom: var(--semantic-space-xs);
				margin-top: 0.5rem;
			}
			&:not(.error) {
				margin-bottom: calc(var(--semantic-space-md) - var(--semantic-space-2xl)); // -16px
			}
			&:has(.hint) {
				align-items: flex-end;
			}

			kol-alert-wc {
				flex-basis: 100%;
			}

			legend {
				width: 100%;
				margin-bottom: 0;
			}
		}

		&.vertical {
			kol-input {
				&:last-of-type {
					padding-bottom: var(--semantic-space-xs);
				}
			}
		}

		&:not(.error) {
			&.vertical {
				kol-input {
					&:last-of-type {
						padding-bottom: 0;
					}
				}
			}
		}

		&:not(.required) {
			legend {
				> span{
					span {
						&::after {
							content: " - Optional";
							font-size: var(--semantic-font-size-xs);
							color: var(--semantic-color-fg-static-subdued);
							font-weight: var(--semantic-font-weight-regular);
						}
					}
				}
			}
		}


		
		legend {
			font-size: var(--semantic-font-size-base);
			font-weight: var(--semantic-font-weight-bold);
			line-height: var(--semantic-font-line-height-relaxed);
			color: var(--semantic-color-fg-static-base);
			// position: absolute;
			// top: 0;
			float: left;
			margin-bottom: 0.5rem;
		}
		
		.hint {
			display: none;
		}
		kol-input {
			padding-bottom: var(--semantic-space-md);
			&:first-of-type{
				.hint {
					display: inherit;
					font-size: var(--semantic-font-size-xs);
					line-height: var(--semantic-font-line-height-default);
					padding-bottom: var(--semantic-space-xs);
					color: var(--semantic-color-fg-static-base);
				}
			}
		}

		kol-alert {
			width: 100%; 
			margin-top: calc(var(--semantic-space-xs) - var(--semantic-space-md)); // -8px
		}

		.input {
			min-height: inherit; // override KiliBri
			min-width: inherit; // override KiliBri

			.radio-input-wrapper {
				display: flex;
				flex-direction: row;
				align-items: flex-start;

				input {
					width: var(--semantic-size-xl);
					height: var(--semantic-size-xl);
					border: 1px solid var(--semantic-color-stroke-static-base);

					&:checked {
						background-color: var(--semantic-color-bg-action-base-inverse-default);

						&::before {
							background-color: var(--semantic-color-fg-action-base-inverse-default);
							height: var(--semantic-size-xs);
							width: var(--semantic-size-xs);
						}
					}

					&:focus-visible {
						border: 1px solid var(--core-color-black-alpha-0);
						outline: none;
					}
				}

				label {
					color: var(--semantic-color-fg-static-base);
					font-size: var(--semantic-font-size-base);
					font-weight: var(--semantic-font-weight-regular);
					line-height: var(--semantic-font-line-height-default);
					padding-left: var(--semantic-space-md);
				}

			}

			&:hover {
				.radio-input-wrapper {
					input {
						background-color: var(--semantic-color-bg-action-base-hovered);
						&:checked {
							background-color: var(--semantic-color-bg-action-base-inverse-hovered);
						}
					}
				}
			}
		}

		&:disabled,
		&.disabled {
			legend {
				opacity: 0.4;
			}
			.input {
				&:hover {
					.radio-input-wrapper {
						input {
							background-color: var(--semantic-color-fg-action-base-inverse-default);

							&:checked {
								background-color: var(--semantic-color-bg-action-base-inverse-default);
							}
						}
					}
				}
			}
		}

		&.error {
			border-left: var(--semantic-space-2xs) solid var(--semantic-color-stroke-static-danger);
			padding-left: var(--semantic-space-md);

			.input {
				.radio-input-wrapper {
					input {
						border: 1px solid var(--semantic-color-stroke-static-danger);
					}
				}
			}
		}
	}
}
