:host {
	kol-input {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: var(--semantic-space-xs, 8px);

		&:not(.required) {
			label {
				> span {
					&::after {
						content: " - Optional";
						font-size: var(--semantic-font-size-xs);
						color: var(--semantic-color-fg-static-subdued);
						font-weight: var(--semantic-font-weight-regular);
					}
				}
			}
		}

		label {
			order: 2;
			color: var(--semantic-color-fg-static-base);
			font-size: var(--semantic-font-size-base);
			font-style: normal;
			font-weight: var(--semantic-font-weight-bold);
			line-height: var(--semantic-font-line-height-relaxed); 
		}

		.input {
			order: 4;
			display: flex;
			gap: var(--semantic-space-xs, 8px);
			align-items: flex-start;
			align-self: stretch;
			padding: var(--semantic-space-sm, 12px);
			border-radius: var(--semantic-borderradius-3xs, 2px);
			outline: 1px solid var(--semantic-color-stroke-static-base, #808E95);
			background: var(--semantic-color-bg-action-base-default, #FFF);

			input {
				border: none;
				padding: 0;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				overflow: hidden;
				color: var(--semantic-color-fg-static-base, #191C1D);
				text-overflow: ellipsis;
				font-size: var(--semantic-font-size-base);
				font-style: normal;
				font-weight: var(--semantic-font-weight-regular);
				line-height: var(--semantic-font-line-height-default);
				height: inherit; // override KoliBri

				&::placeholder {
					color: var(--semantic-color-fg-static-subdued);
				}
			}

			&:hover,
			&:focus {
				background-color: var(--semantic-color-bg-action-base-hovered);
				// outline: 1px solid var(--semantic-color-stroke-static-base, #808E95);
				input {
					background-color: var(--semantic-color-bg-action-base-hovered);
				}
			}

			kol-icon {
				width: var(--semantic-size-xl, 24px);
				height: var(--semantic-size-xl, 24px);
				color: var(--semantic-color-fg-action-base-default);
			}
			
		}

		.hint {
			order: 3;
			align-self: stretch;
			color: var(--semantic-color-fg-static-base, #191C1D);
			font-size: var(--semantic-font-size-xs);
			font-style: normal;
			font-weight: var(--semantic-font-weight-regular);
			line-height: var(--semantic-font-line-height-default); /* 21px */
		}

		&.error {
			border-left: 4px solid var(--semantic-color-stroke-static-danger, #FF4545);
			display: flex;
			padding-left: var(--semantic-space-md, 16px);
			flex-direction: column;
			align-items: flex-start;
			gap: var(--semantic-space-xs, 8px);

			.input {
				outline: 1px solid var(--semantic-color-stroke-static-danger, #FF4545);
			}

			kol-alert {
				&.error {
					order: 5;
				}
			}
		}

		&.read-only {
			cursor: not-allowed;
			.input {
				cursor: not-allowed;
				outline: 1px solid var(--semantic-color-bg-static-subtle, #F2F3F4);
				background: var(--semantic-color-bg-static-subtle, #F2F3F4);
				input {
					background: var(--semantic-color-bg-static-subtle, #F2F3F4);
					cursor: not-allowed;
				}
			}
		}
		
		&.disabled {
			cursor: not-allowed;
			opacity: 0.4;

			:is(button, input, label, option, select, textarea) {
				cursor: not-allowed;
				opacity: initial;
			}
			.input {
				&:hover {
					background-color: var(--semantic-color-bg-action-base-default, #FFF);
					input {
						background-color: var(--semantic-color-bg-action-base-default, #FFF);
					}
				}
				input {
					background-color: var(--semantic-color-bg-action-base-default, #FFF);
				}
			}
		}

	}
}

// *[tabindex]:focus,
// kol-input:not(.checkbox, .radio) .input:focus-within,
// kol-input:is(.checkbox, .radio) input:focus,
// summary:focus {
//   cursor: pointer;
//   outline-color: var(--core-color-primary);
//   outline-offset: 2px;
//   outline-style: solid;
//   outline-width: 3px;
//   transition: outline-offset 0.2s linear;
// }