:host {
	kol-input {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: var(--semantic-space-xs, 8px);

		&:not(.required) {
			label {
				> span {
					&::after {
						content: " - Optional";
						font-size: var(--semantic-font-size-xs);
						color: var(--semantic-color-fg-static-subdued);
						font-weight: var(--semantic-font-weight-regular);
					}
				}
			}
		}

		label {
			order: 2;
			color: var(--semantic-color-fg-static-base);
			font-size: var(--semantic-font-size-base);
			font-style: normal;
			font-weight: var(--semantic-font-weight-bold);
			line-height: var(--semantic-font-line-height-relaxed); 
		}

		.input {
			order: 4;
			display: flex;
			gap: var(--semantic-space-xs, 8px);
			align-items: flex-start;
			align-self: stretch;
			border-radius: var(--semantic-color-borderradius-2xs, 4px);
			outline: var(--borderradius-none, 1px) dashed var(--semantic-color-stroke-action-base-default, #0073A8);
			background: var(--semantic-color-bg-action-base-default, #FFF);

			&:hover {
				background-color: var(--semantic-color-bg-action-base-hovered);
				// border: var(--borderradius-none, 1px) solid var(--stroke-action-base-hovered, #004565);
				outline: var(--borderradius-none, 1px) solid var(--stroke-action-base-hovered, #004565);

				background: var(--bg-action-base-hovered, #E6F1F6);
			}

			input {
				height: inherit;
				padding: var(--semantic-space-2xl, 32px);


				&::file-selector-button {
					outline-color: var(--semantic-color-stroke-action-base-default, #0073A8);
					outline-style: solid;
					outline-width: 1px;
					outline-offset: -1px;
					border: none;

					padding: var(--semantic-space-sm, 12px) var(--semantic-space-md, 16px);
					border-radius: var(--semantic-borderradius-xs, 8px);	

					background-color: var(--semantic-color-bg-action-base-default, #FFF);	

					color: var(--semantic-color-fg-action-base-default);
					font-size: var(--semantic-font-size-base);
					font-weight: var(--semantic-font-weight-bold);
					line-height: var(--semantic-font-line-height-default);

					&:hover {
						background-color: var(--semantic-color-bg-action-base-hovered);
						outline-color: var(--semantic-color-fg-action-base-hovered, #004565);
						outline-style: solid;
						outline-width: 1px;
						outline-offset: -1px;
						border: none;
						cursor: pointer;
					}
				}



				&:hover,
				&:focus {
					background-color: var(--semantic-color-bg-action-base-hovered);
					// outline: 1px solid var(--semantic-color-stroke-static-base, #808E95);
					// input {
					// 	background-color: var(--semantic-color-bg-action-base-hovered);
					// }

					&::file-selector-button {
						background-color: var(--semantic-color-bg-action-base-hovered);
						outline-color: var(--semantic-color-fg-action-base-hovered, #004565);
					}
				}
			}


			kol-icon {
				width: var(--semantic-size-xl, 24px);
				height: var(--semantic-size-xl, 24px);
				color: var(--semantic-color-fg-action-base-default);
			}
			
		}

		.hint {
			order: 3;
			align-self: stretch;
			color: var(--semantic-color-fg-static-base, #191C1D);
			font-size: var(--semantic-font-size-xs);
			font-style: normal;
			font-weight: var(--semantic-font-weight-regular);
			line-height: var(--semantic-font-line-height-default); /* 21px */
		}

		&.error {
			border-left: 4px solid var(--semantic-color-stroke-static-danger, #FF4545);
			display: flex;
			padding-left: var(--semantic-space-md, 16px);
			flex-direction: column;
			align-items: flex-start;
			gap: var(--semantic-space-xs, 8px);

			.input {
				outline: 1px dashed var(--semantic-color-stroke-static-danger, #FF4545);
			}

			kol-alert {
				&.error {
					order: 5;
				}
			}
		}

		&.read-only {
			cursor: not-allowed;
			.input {
				cursor: not-allowed;
				outline: 1px solid var(--semantic-color-bg-static-subtle, #F2F3F4);
				background: var(--semantic-color-bg-static-subtle, #F2F3F4);
				input {
					background: var(--semantic-color-bg-static-subtle, #F2F3F4);
					cursor: not-allowed;
				}
			}
		}
		
		&.disabled {
			cursor: not-allowed;
			opacity: 0.4;

			:is(button, input, label, option, select, textarea) {
				cursor: not-allowed;
				opacity: initial;
			}
			.input {
				&:hover {
					outline: var(--borderradius-none, 1px) dashed var(--semantic-color-stroke-action-base-default, #0073A8);
					background: var(--semantic-color-bg-action-base-default, #FFF);
				}

				input {
					background-color: var(--semantic-color-bg-action-base-default, #FFF);
					&:hover {
						background-color: var(--semantic-color-bg-action-base-default, #FFF);

						&::file-selector-button {
							background-color: var(--semantic-color-bg-action-base-default, #FFF);
							cursor: not-allowed;
						}
					}
				}
			}
		}

	}
}