@import "mixins";

:host {

	:is(a, button) {
		.kol-span-wc .span-label {
			text-decoration-line: none;
		}
	}


	kol-link-wc,
	kol-link-wc a kol-icon {
		display: inline;
		align-self: flex-start;
		width: var(--semantic-size-xl);
    	height: var(--semantic-size-xl);

		&::part(icon) {
			font-family: "Material Symbols Rounded", serif;
			// font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 200, 'opsz' 24;
			// font-size: var(--semantic-space-lg) !important; TODO: kann weg!
			// width: var(--semantic-space-2xl);
			// height: var(--semantic-space-2xl);
			font-weight: normal;
			font-style: normal;
			line-height: 1;
			letter-spacing: normal;
			text-transform: none;
			display: inline-block;
			white-space: nowrap;
			overflow-wrap: normal;
			direction: ltr;
			-webkit-font-smoothing: antialiased;
			text-rendering: optimizelegibility;
			font-feature-settings: "liga";
		}
	}

	kol-link-wc {
		a {
			color: var(--semantic-color-fg-action-base-default);
			gap: var(--semantic-space-2xs);
			// flex-wrap: wrap;
			line-height: var(--semantic-font-line-height-default);
			text-decoration-color: var(--semantic-color-fg-action-base-default);
			text-decoration-line: underline;
			transition: all 0.05s ease-in-out;

			&:has(kol-icon) {
				text-decoration: none;
			}

			&:hover {
				color: var(--semantic-color-fg-action-base-hovered);
				text-decoration-color: var(--semantic-color-fg-action-base-hovered);
				text-decoration-thickness: inherit;
				
				&:has(kol-icon) {
					text-decoration: underline;
				}
			}

			&:active {
				color: var(--semantic-color-fg-action-base-active);
				text-decoration-color: var(--semantic-color-fg-action-base-active);
				text-decoration-thickness: inherit;
			}

			&:focus {
				// color: var(--semantic-color-fg-action-base-default);
				text-decoration-thickness: inherit;
				border-radius: var(--semantic-borderradius-3xs, 0.125rem);
				box-shadow: 0 0 0 2px var(--semantic-color-stroke-static-base-inverse), 0 0 0 4px var(--semantic-color-stroke-static-accent), 0 0 0 6px rgba(#2478C5, 0.4);
				&:focus-visible {
					outline: 0;
				}
				&:not(:focus-visible) {
					outline: 0;
					box-shadow: none;
				}
			}

			&:visited {
				color: var(--semantic-color-fg-action-base-visited);
				text-decoration-color: var(--semantic-color-fg-action-base-visited);
				kol-icon {
					color: var(--semantic-color-fg-action-base-visited);
				}

				&:hover {
					color: var(--semantic-color-fg-action-base-hovered);
					text-decoration-color: var(--semantic-color-fg-action-base-hovered);
					text-decoration-thickness: inherit;
					kol-icon {
						color: var(--semantic-color-fg-action-base-hovered);
					}
				}

				&:active {
					color: var(--semantic-color-fg-action-base-active);
					text-decoration-color: var(--semantic-color-fg-action-base-active);
					text-decoration-thickness: inherit;
					kol-icon {
						color: var(--semantic-color-fg-action-base-active);
					}
				}
			}

			kol-icon {
				&.external-link-icon {
					display: none;
				}
			} 

			kol-span-wc > span {
				gap: var(--semantic-space-2xs);
				font-size: var(--semantic-font-size-base);
			}

			> span {
				order: 2;
			}
		}
		
		.hidden {
			display: none;
			visibility: hidden;
		}
	}
}
