:host {
    .modal {

        display: flex;
        width: 640px !important;
        min-width: 320px;
        padding: var(--semantic-space-xl, 32px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--semantic-space-xl, 32px);
        
        background: var(--semantic-color-bg-static-base, #FFF);
    }

    kol-card {
        .card {
            .header {
                background-color: red;
            }
        }
    }
}

kol-card {
    .card {
        .header {
            background-color: red;
        }
    }
}
