@import "mixins";

:host {

	// override KoliBri
	.spin {
		&.cycle {
			width: var(--semantic-size-6xl, 96px);
			height: var(--semantic-size-6xl, 96px);
		}
	}

	.loader {
		border-width: var(--semantic-size-xs);
		border-style: solid;
		border-color: var(--semantic-color-bg-static-subtle) var(--semantic-color-bg-static-subtle) var(--semantic-color-bg-static-subtle) var(--semantic-color-fg-static-accent);
		width: var(--semantic-size-6xl, 96px);
		height: var(--semantic-size-6xl, 96px);
		border-radius: 50%;
		animation: rotation 2s linear infinite;
		position: relative;
			
		&:before, &:after {
			content: '';
			width: var(--semantic-size-xs);
			height: var(--semantic-size-xs);
			border-radius: 50%;
			background: var(--semantic-color-fg-static-accent);
			position: absolute;
		}
		
		&:before {
			top: var(--semantic-size-xs);
			animation: none;
			border: none;
			border-color: var(--semantic-color-fg-static-accent);
			left: 5px;
			top: 5px;
		}
		
		&:after {
			bottom: var(--semantic-size-xs);
			left: 5px;
			bottom: 5px;
		}
	}

	@keyframes rotation {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	} 
}
