
@font-face {
  font-family: "Noto Sans Regular";
  src: url(fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: "Noto Sans Regular";
  font-weight: bold;
  src: url(fonts/NotoSans-SemiBold.ttf);
}

@font-face {
  font-family: "Noto Sans Bold";
  font-weight: 700;
  src: url(fonts/NotoSans-Bold.ttf);
}
