// Mix a color with black
// @function strong-color($color, $weight) {
//   @return mix(black, $color, $weight);
// }

// @function isColorDark( $color ) {
//   $red: red( $color );
//   $green: green( $color );
//   $blue: blue( $color );

//   $l: 1 - ( 0.299 * $red + 0.587 * $green + 0.114 * $blue ) / 255;
//   @if ( $l < 0.41 ) {
//     @return #000000;
//   } @else {
//     @return #ffffff;
//   }
// }


//@function set-color($color) {
//	@if (lightness($color) > 40) {
//		@return #000;
//	}
//	@else {
//		@return #FFF;
//	}
//}
