@import "mixins";

:host {
	> kol-alert-wc {
		border-radius: var(--kern-border-radius);

		kol-icon::part(icon) {
			font-family: "Material Symbols Rounded";
			font-weight: 900;
		}

		&.msg {
			border: none;
			padding: 1rem 2rem;

			&.success {
				@include alert-variant(success, --kern-color-success, msg, check);
				.heading {
					@include alert-heading(--kern-color-success-light-hover);
				}
			}

			&.warning {
				@include alert-variant(warning, --kern-color-warning, msg, exclamation);
				.heading {
					@include alert-heading(--kern-color-warning-light-hover);
				}
			}

			&.info {
				@include alert-variant(info, --kern-color-info, msg, info);
				.heading {
					@include alert-heading(--kern-color-info-light-hover);
				}
			}

			&.error {
				@include alert-variant(error, --kern-color-error, msg, close);
				.heading {
					@include alert-heading(--kern-color-error-light-hover);
				}
			}

			&.default {
				@include alert-variant(default, --kern-color-default, msg, data_info_alert);
				.heading {
					@include alert-heading(--kern-color-default-light-hover);
				}
			}
		}

		&.card {
			padding: 1rem 2rem;

			&.success {
				@include alert-variant(success, --kern-color-success, card, check);
			}
			&.warning {
				@include alert-variant(warning, --kern-color-warning, card, exclamation);
			}
			&.info {
				@include alert-variant(info, --kern-color-info, card, info);
			}
			&.error {
				@include alert-variant(error, --kern-color-error, card, close);
			}
			&.default {
				@include alert-variant(default, --kern-color-default, card, data_info_alert);
			}

			.heading {
				@include alert-heading(--kern-color-default-light-hover);
			}

			.content {
				padding-left: 2.5rem;
			}
		}

		kol-heading-wc {
			h1, h2, h3, h4, h5 ,h6 {
				margin-top: 0;
			}
		}

	}
}

:host > div > kol-heading-wc button kol-icon::part(icon) {
  font-family: "Material Symbols Rounded";
  font-weight: 900;
}
:host > div.open > kol-heading-wc button kol-icon::part(icon)::before {
	content: "remove";
}
:host > div.close > kol-heading-wc button kol-icon::part(icon)::before {
	content: "add";
}
