:host {
	display: inline-flex;
	padding: var(--component-badge-padding-y, 0.25rem) var(--component-badge-padding-x, 0.5rem);
	align-items: flex-start;
	gap: var(--component-badge-icongap, 0.5rem);

	> span {
		border-radius: var(--component-badge-borderradius, 0.25rem);
		background: var(--kern-semantic-color-status-info-light);
	}
}
