:host {
	nav {
		width: 100%;

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			> li {
				padding: 0.25em 0;

				kol-icon::part(icon) {
					font-family: "Material Symbols Rounded";
					font-weight: 900;

					&::before {
						content: "keyboard_arrow_right";
					}
				}

				&:last-child {
					display: none;
				}
			}
		}
	}
}
