@import "mixins";

// TODO: Contrast automatisch einrichten für color

:host {
	>kol-button-wc {
		>button {
			>kol-span-wc {
				border-radius: var(--kern-border-radius);
				border-style: solid;
				border-width: 1px;
				gap: var(--kern-gap);
				line-height: 1rem;
				padding: 0.75rem 1rem;
				span {
					gap: var(--kern-gap);
				}
			}
		}

		&.primary {
			@include button-variant(--kern-color-button-primary, --kern-color-white, button);
		}

		&.secondary,
		&.danger,
		&.normal {
			@include button-variant(--kern-color-button-standard, --kern-color-text, button);
		}

		&.ghost {
			>button {
				>kol-span-wc {
					background-color: transparent;
					border-color: transparent;
					color: var(--kern-color-button-primary);
				}
				&:focus {
					>kol-span-wc {
						background-color: var(--kern-color-button-standard);
						color: var(--kern-color-button-primary-hover);
					}
				}
				&:hover {
					>kol-span-wc {
						background-color: var(--kern-color-button-standard);
						color: var(--kern-color-button-primary-hover);
					}
				}
			}
		}
	}

}

