:host {
	> div {
		background-color: var(--kern-color-white);
		border: 1px solid var(--kern-color-border);
		border-radius: var(--kern-border-radius);
		width: 100%;
		height: 100%;
		overflow: hidden;
		padding: calc(1.5 * var(--kern-gap));

		.header {
			padding-bottom: calc(1.5 * var(--kern-gap));

			kol-heading-wc {
				h1, h2, h3, h4 ,h5 ,h6 {
					font-size: calc(var(--kern-font-size) * 1.75);
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}

		.footer {
			padding-top: calc(1.5 * var(--kern-gap));
		}
	}
}


