:host {
	details {
		summary {
			font-weight: var(--kern-font-weight-bold);
			color: var(--kern-color-interaction);

			&:hover {
				color: var(--kern-color-interaction-hover);
			}

			span {
				border-bottom: none;
				&:last-child {
					padding-left: var(--kern-spacing);
				}
			}

			kol-icon {
				font-size: 1.5rem;
				&::part(icon) {
					font-family: "Material Symbols Rounded";
					font-weight: 900;

					&::before {
						content: "keyboard_arrow_right";
					}
				}
			}

		}

		> kol-indented-text {
			margin: 0.25rem 0 0 0.5rem;
		}

		&[open] {
			kol-icon::part(icon) {
				font-family: "Material Symbols Rounded";
				font-weight: 900;

				&::before {
					content: "keyboard_arrow_down";
				}
			}
		}
	}
}
