// @import "functions";
// @import "mixins";

$prefix: kern- !default;

// fonts
$font-family: 'Noto Sans Display', Arial, Helvetica, sans-serif;
$font-weight-bold: 700;
$font-size: 1rem;

// colors primary
$color-primary: rgba(44, 78, 116, 1); // Btn-Primary:hover,
// color secondary
$color-secondary: rgba(247, 187, 61, 1);
$color-secondary-red: rgba(220, 42, 42, 1);

// colors
$color-success: rgba(16, 124, 16, 1);
$color-warning:  rgba(255, 193, 7, 1);
$color-info:    rgba(23, 162, 184, 1);
$color-error: rgba(225, 0, 25, 1);

// color light
$color-success-light: rgba(223, 246, 221, 1);
$color-warning-light: rgba(255, 244, 206, 1);
$color-info-light: rgba(211, 225, 252, 1);
$color-error-light: rgba(252, 229, 231, 1);
$color-default-light: rgba(240, 240, 240, 1);

// color light hover
$color-success-light-hover: darken($color-success-light, 15%);
$color-warning-light-hover: darken($color-warning-light, 15%);
$color-info-light-hover: darken($color-info-light, 15%);
$color-error-light-hover: darken($color-error-light, 15%);
$color-default-light-hover: darken($color-default-light, 15%);

// color interaction
$color-interaction-blue: rgba(59, 104, 155, 1);
$color-interaction-blue-hover: darken($color-interaction-blue, 15%);

// color accordion
$color-accordion: rgba(241, 243, 243, 1);
$color-accordion-hover: darken($color-accordion, 15%);

// button primary
$color-button-primary: rgba(0, 115, 168, 1);
$color-button-primary-hover: darken($color-button-primary, 15%);
// button standard
$color-button-standard: rgba(223, 225, 225, 1);
$color-button-standard-hover: darken($color-button-standard, 15%);

// colors - gray scale
$color-black: rgba(0, 0, 0, 1);
$color-darker-grey: rgb(66, 66, 66);
$color-dark-grey: rgba(97, 110, 117, 1);
$color-gray: rgba(179, 179, 179, 1);
$color-white: rgba(255, 255, 255, 1);

:host {
	// ========== THEME VARIABLES ==========
	// font
	--#{$prefix}-font-family: #{$font-family};
	--#{$prefix}-font-weight-bold: #{$font-weight-bold};
	--#{$prefix}-font-size: #{$font-size};

	// colors primary
	--#{$prefix}-color-primary: #{$color-primary};
	--#{$prefix}-color-secondary: #{$color-secondary};
	--#{$prefix}-color-secondary-red: #{$color-secondary-red};

	// ========== GLOBAL VARIABLES ==========
	// font

	// color
	--#{$prefix}-color-success: #{$color-success};
	--#{$prefix}-color-warning: #{$color-warning};
	--#{$prefix}-color-info: #{$color-info};
	--#{$prefix}-color-error: #{$color-error};
	--#{$prefix}-color-default: #{$color-black};

	// color light
	--#{$prefix}-color-success-light: #{$color-success-light};
	--#{$prefix}-color-warning-light: #{$color-warning-light};
	--#{$prefix}-color-info-light: #{$color-info-light};
	--#{$prefix}-color-error-light: #{$color-error-light};
	--#{$prefix}-color-default-light: #{$color-default-light};

		// color light hover
	--#{$prefix}-color-success-light-hover: #{$color-success-light-hover};
	--#{$prefix}-color-warning-light-hover: #{$color-warning-light-hover};
	--#{$prefix}-color-info-light-hover: #{$color-info-light-hover};
	--#{$prefix}-color-error-light-hover: #{$color-error-light-hover};
	--#{$prefix}-color-default-light-hover: #{$color-default-light-hover};

	// color interaction
	--#{$prefix}-color-interaction: #{$color-interaction-blue};
	--#{$prefix}-color-interaction-hover: #{$color-interaction-blue-hover};

	// color accordion
	--#{$prefix}-color-accordion: #{$color-accordion};
	--#{$prefix}-color-accordion-hover: #{$color-accordion-hover};

	// button primary
	--#{$prefix}-color-button-primary: #{$color-button-primary};
	--#{$prefix}-color-button-primary-hover: #{$color-button-primary-hover};
	// button standard
	--#{$prefix}-color-button-standard: #{$color-button-standard};
	--#{$prefix}-color-button-standard-hover: #{$color-button-standard-hover};

	// colors - gray scale
	--#{$prefix}-color-text: #{$color-black};
	--#{$prefix}-color-hint: #{$color-dark-grey};
	--#{$prefix}-color-darker-gray: #{$color-darker-grey};
	--#{$prefix}-color-border: #{$color-gray};
	--#{$prefix}-color-white: #{$color-white};

	// /* Globals */
	--#{$prefix}-gap: 1rem;
	--#{$prefix}-spacing: 0.25rem;
	--#{$prefix}-border-radius: 0.125rem;

	// /* EFA Colors */
	// --color-secondary: rgba(247, 187, 61, 1);
	// --color-secondary-red: rgba(220, 42, 42, 1);


	// --color-interaction-grey: rgba(176, 190, 197, 1);

	// --color-interaction-cyan: rgba(7, 135, 177, 1);
	// --color-interaction-red: rgba(230, 111, 111, 1);

	// --color-grey-scale-darker-grey: rgb(66, 66, 66);
	// --color-grey-scale-dark-grey: rgba(97, 110, 117, 1);
	// --color-grey-scale-mid-grey: rgba(128, 142, 149, 1);

	// --color-border-grey: rgba(112, 112, 112, 1);

	// --shadow-default: 0px 3px 6px rgba(0, 0, 0, 0.16);
	// --gradient-default: transparent linear-gradient(180deg, rgba(30, 156, 215, 1) 0%, rgba(44, 78, 116, 1) 100%) 0% 0% no-repeat padding-box;
}

* {
	font-family: $font-family;
}

p {
	margin-top: 0;
}

// Input
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="time"],
input[type="text"],
input[type="week"] {
	height: 2.5em;
	padding: 0.25em 0.5em;
	border-color: var(--kern-color-text);
	border-width: 1px;
	width: 100%;
	min-height: 2.5rem;
	border-radius: var(--kern-border-radius);
}

input:disabled,
input:readonly,
select:disabled,
textarea:readonly,
textarea:disabled {
	cursor: not-allowed;
	border: 1px solid var(--kern-color-hint);
	background-color: var(--kern-color-hint);
}

a:disabled,
button:disabled {
	box-shadow: none;
	cursor: not-allowed;
	color: var(--kern-color-hint);
}

.required {
	label {
		> span {
			&::after {
				content: "*";
				padding-left: var(--kern-spacing);
				position: absolute;
    		font-size: 22px;
				color: var(--kern-color-secondary-red)
			}
		}
	}
}

kol-input {
	gap: calc(var(--kern-gap) / 2);
}

label {
	color: var(--kern-color-text);
	font-size: 1rem;
	line-height: 1rem;
	width: 100%;
	font-weight: bold;
}

.hint {
	font-size: 14px;
	color: var(--kern-color-hint);
	display: inline-block;
	line-height: 1;
}

a,
button {
	min-height: auto;
	min-width: auto;
}

a,
button,
input,
select,
textarea {
  background-color: transparent;
  border-radius: var(--kern-border-radius);
  text-decoration: none;
}

a,
button,
input,
label,
option,
select,
textarea {
  cursor: pointer;
}

a:focus,
*[tabindex]:focus,
button:focus,
input:focus,
select:focus,
summary:focus,
textarea:focus {
  outline-color: var(--kern-color-primary);
	outline-offset: 0.0625rem;
	outline-style: solid;
	outline-width: 0.125rem;
	border-radius: var(--kern-border-radius);
}

kol-tooltip .area {
  background-color: var(--kern-color-darker-gray);
  color: var(--kern-color-white);
}

kol-tooltip kol-span-wc {
  border-radius: var(--kern-border-radius);
  line-height: 1.5em;
  padding: 0.5rem 0.75rem;
}
