/* ALL INPUT, SELECT, TEXTAREA */
:host {

	input {
		border: 1px solid var(--kern-color-text);
	}

	input[type="checkbox"] {
		appearance: none;
		background-color: var(--kern-color-white);
		cursor: pointer;
		transition: none;

		&:checked,
		&:indeterminate {
			background-color: var(--kern-color-primary);
			border-color: var(--kern-color-primary);
		}

	}

	kol-input {
		display: grid;
		align-items: center;
		justify-items: left;
		width: 100%;

		> div.input {
			display: inline-flex;
			order: 1;

			input {
				margin: 0px;
			}
		}

		> label {
			order: 2;
			padding-left: calc(2 * var(--kern-spacing));
			margin-bottom: 0;
		}

		> kol-alert.error {
			order: 3;
			padding-top: 0.25em;
			grid-column: span 2 / auto;
		}

		&.checkbox {
			grid-template-columns: calc(6 * var(--kern-spacing)) auto;

			input[type="checkbox"] {
				height: calc(6 * var(--kern-spacing));
				min-width: calc(6 * var(--kern-spacing));
				width: calc(6 * var(--kern-spacing));

				&:before {
					background-color: transparent;
					display: block;
					height: calc(6 * var(--kern-spacing));
					position: relative;
					width: calc(6 * var(--kern-spacing));
				}

				&:checked:before {
					border-right-width: 3px;
					border-bottom-width: 3px;
					left: calc(1.5 * var(--kern-spacing) - 1px);
					top: calc(2.85 * var(--kern-spacing) - 1px);
					transform: rotate(40deg) translate(-50%, -50%);
					background-color: transparent;
					border-width: 0px 3px 3px 0px;
					border-color: white;
					border-style: solid;
					height: calc(3 * var(--kern-spacing));
					width: calc(1.5 * var(--kern-spacing));
				}

				&:indeterminate {
					background-color: var(--kern-color-primary);

					&:before {
						background-color: white;
						height: 0.25rem;
						top: 0.5rem;
						left: 0.25rem;
						width: 0.75rem;
					}
				}
			}
		}

		&.switch {
			grid-template-columns: calc(6 * var(--kern-spacing)) auto;

			input[type="checkbox"] {
				min-width: 3em;
				width: 3em;
				height: 1.5em;
				border-radius: 0.75em;
				display: inline-block;
				position: relative;

				&:before {
					-webkit-transition: 0.5s;
					-moz-transition: 0.5s;
					-ms-transition: 0.5s;
					transition: all 0.5s ease 0s;
					width: 1.125em;
					height: 1.125em;
					left: calc(0.25em - 2px);
					top: calc(0.25em - 2px);
					border-radius: 50%;
					background-color: black;
					position: absolute;
				}

				&:checked:before {
					-webkit-transform: translateX(1.5em);
					-moz-transform: translateX(1.5em);
					-ms-transform: translateX(1.5em);
					transform: translateX(1.5em);
					background-color: white;
					left: calc(0.5*var(--kern-spacing) - 1px);
					top: calc(var(--kern-spacing) - 2px);
					width: 1.125em;
					height: 1.125em;
					border: none;
				}

				&:indeterminate {
					background-color: var(--color-blau);

					&:before {
						-webkit-transform: translateX(0.75em);
						-moz-transform: translateX(0.75em);
						-ms-transform: translateX(0.75em);
						transform: translateX(0.75em);
						background-color: white;
					}

				}

			}

			> label {
				order: 2;
				padding-left: calc(8 * var(--kern-spacing));
			}
		}

		&.button {
			label {
				padding-left: 0;
				color: var(--kern-color-primary);

				&:hover {
					color: var(--kern-color-primary-hover);
				}
			}

			kol-icon::part(icon) {
				font-family: "Material Symbols Rounded";
				font-weight: 900;

				&::before {
					content: "add";
				}
			}
		}
	}

}
