:host {
	kol-link-wc {
		display: inline-block;

		a {
			color: var(--kern-color-interaction);
			background-image: repeating-linear-gradient(to right, var(--kern-color-interaction), var(--kern-color-interaction));
			background-repeat: no-repeat;
			background-position: left 0px bottom 0px;
			background-size: 25% 0.25ex;
			border-radius: var(--kren-spacing);
			font-size: inherit;
			transition-timing-function: ease-in-out;
			transition-duration: 0.5s;
			transition-property: background, color, border-color;

			&:focus,
			&:hover {
				background-size: 100% 0.25ex;
				color:  var(--kern-color-interaction-hover);
				background-image: repeating-linear-gradient(to right, var(--kern-color-interaction-hover), var(--kern-color-interaction-hover));

			}

			&:disabled,
			&.disabled {
				cursor: not-allowed;
				color: var(--kern-color-hint);
				background-image: repeating-linear-gradient(to right, var(--kern-color-hint), var(--kern-color-hint));
				background-repeat: no-repeat;
				background-position: left 0px bottom 0px;
				background-size: 25% 0.25ex;
				border-radius: var(--kren-spacing);
				font-size: inherit;
				transition-timing-function: ease-in-out;
				transition-duration: 0.5s;
				transition-property: background, color, border-color;
			}

			.external-link-icon::part(icon) {
				font-family: "Material Symbols Rounded";
				font-weight: 900;

				&::before {
					content: "open_in_new";
				}
			}
		}
	}
}

