:host {
	.hidden {
		display: none;
	}

	> div {
		> nav {
			ul {
				list-style: none;
				margin: 0px;
				padding: 0px;
				border-radius: var(--kern-border-radius);
				background-color: var(--kern-color-primary);

				> li {
					border-radius: var(--kern-border-radius);
					overflow: hidden;
					padding: 0.1875em;

					> div {
						height: 100%;
					}
				}

				> li[part*="vertical"] + li {
					border-radius: 0;
					border-top: 0.1em dotted white;
				}

				> li[part*="vertical selected"] {
					border-right: 0.375em solid var(--kern-color-secondary);
				}

				> li[part*="horizontal"] + li {
					border-radius: 0;
					border-left: 0.1em dotted white;
				}

				> li[part*="horizontal selected"] {
					border-bottom: 0.375em solid var(--kern-color-secondary);
				}


			}

			kol-link-wc {
				width: 100%; /*height: 100%;font-weight: 600;*/
				display: block;

				a {
					border-radius: var(--kern-border-radius);
					background-color: var(--kern-color-primary);
					border: 1px solid transparent;
					grid: flex;
					line-height: 2em;
					padding: 0.5em;
					color: white;
					height: 100%;
					-webkit-box-align: center;
					align-items: center;
					display: flex;
					cursor: pointer;
					text-decoration: inherit;

					kol-icon.mr-2 {
						margin-right: calc(2 * 2 * var(--kern-spacing));
						margin-left: calc(2 * 2 * var(--kern-spacing));
					}

					&:focus,
					&:hover {
						border: 1px solid white;
						background-color: var(--kern-color-info-light);
						color: var(--kern-color-grey-scale-black);
					}

					&.text-center {
						display: grid;
						align-items: center;
						justify-items: center;
					}
				}
			}

			kol-link-wc[exportparts*="selected"] {
				a {
					background-color: var(--kern-color-primary);
					font-weight: 700;
				}
			}
		}

		> div {
			&:last-child {
				margin-top: 0.5em;
				width: 100%;
				text-align: center;
			}
		}
	}
}

ul.flex {
  display: flex;
}
li > div > div.absolute {
  position: absolute;
}
kol-span-wc {
  justify-items: baseline;
}
