:host {
    .pagination {
        margin-top: 0.5rem;
        gap: 0.5rem;
        justify-content: space-between;
        
        @media (max-width: 1024px) {
            justify-content: center;
        }
    }

    table {
        tr {
            &:last-child {
                th,
                td {
                    border-width: 0;
                    border-bottom-width: 2px;
                    border-style: solid;
                    border-color: var(--kern-color-border);
                }
                
                th {
                    div {
                        width: 100%;
                        display: flex;
                        gap: 0.5em;
                        grid-template-columns: 1fr auto;
                        align-items: center;
                    }
                }
            }

            &:nth-child(even) {
                background-color: var(--kern-color-default-light);
            }
        }

        tr,
        td {
            padding: 0.5em;
        }
    }
}
  