@use 'functions';
@use 'sass:color';

// fonts
$font-family: 'Noto Sans Display', Arial, Helvetica, sans-serif !default;

// static sizes
$static-0: 0;
$static-4: 0.25rem;
$static-8: 0.50rem;
$static-12: 0.75rem;
$static-14: 0.875rem;
$static-16: 1rem;
$static-18: 1.125rem;
$static-20: 1.25rem;
$static-24: 1.5rem;
$static-28: 1.75rem;
$static-32: 2rem;
$static-36: 2.25rem;
$static-48: 3rem;
$static-64: 4rem;
$static-80: 5rem;
$static-96: 6rem;
$static-128: 8rem;

// font scales
$scale-75: 75%;
$scale-100: 100%;
$scale-125: 125%;

// font weights
$weight-300: 300;
$weight-400: 400;
$weight-700: 700;

// font line heights
$line-height-100: 1;
$line-height-125: 1.25;
$line-height-150: 1.5;

// fluid sizes
$fluid-32: functions.fluidSize(2rem);
$fluid-48: functions.fluidSize(3rem);
$fluid-64: functions.fluidSize(4rem);
$fluid-80: functions.fluidSize(5rem);
$fluid-96: functions.fluidSize(6rem);
$fluid-128: functions.fluidSize(8rem);


// Theme Colors
/* Variables  */
$core-color-black: #000000FF;
$core-color-white: #FFFFFFFF;
$core-color-transparent: #FFFFFF00;

$core-color-blue: #8CAAF0FF;
$core-color-green: #40D9B7FF;
$core-color-red: #FF4545FF;
$core-color-yellow: #F5E601FF;

$core-color-neutral: #808E95FF !default;
$core-color-brand: #0073A8FF !default;

$core-color-accent-1: #2A4A6FFF !default;
$core-color-accent-2: #2D96F7FF !default;

/* Aliases  */
$color-bg-static-info: functions.light($core-color-blue, 20%);
$color-bg-static-success: functions.light($core-color-green, 20%);
$color-bg-static-warning: functions.light($core-color-yellow, 20%);
$color-bg-static-danger: functions.light($core-color-red, 20%);
$color-fg-static-info: functions.dark($core-color-blue, 20%);
$color-fg-static-success: functions.dark($core-color-green, 30%);
$color-fg-static-warning: functions.dark($core-color-yellow, 40%);
$color-fg-static-danger: functions.dark($core-color-red, 10%);
$color-fg-static-info-contrast: functions.dark($core-color-blue, 40%);
$color-fg-static-success-contrast: functions.dark($core-color-green, 50%);
$color-fg-static-warning-contrast: functions.dark($core-color-yellow, 50%);
$color-fg-static-danger-contrast: functions.dark($core-color-red, 30%);

$color-bg-static-base: $core-color-white;
$color-bg-static-base-inverse: functions.dark($core-color-neutral, 40%);
$color-bg-action-base-default: $core-color-white;
$color-bg-action-base-hovered: functions.light($core-color-brand, 90%);
$color-bg-action-base-active: $core-color-white;
$color-bg-action-base-selected: functions.light($core-color-brand, 90%);;

$color-bg-action-base-inverse-default: $core-color-brand;
$color-bg-action-base-inverse-hovered: functions.dark($core-color-brand, 40%);
$color-bg-action-base-inverse-active: functions.dark($core-color-brand, 20%);
$color-bg-action-base-inverse-selected: functions.dark($core-color-brand, 60%);

$color-bg-action-muted-default: $core-color-transparent;
$color-bg-action-muted-active: $core-color-transparent;
$color-bg-action-muted-inverse-hovered: $core-color-white;
$color-bg-action-muted-inverse-active: $core-color-transparent;
$color-bg-action-muted-inverse-selected: $core-color-white;

$color-fg-action-base-inverse-default: $core-color-white;
$color-fg-action-base-inverse-hovered: functions.light($core-color-brand, 90%);
$color-fg-action-base-inverse-active: $core-color-white;
$color-fg-action-base-inverse-selected: functions.light($core-color-brand, 90%);
$color-fg-action-base-default: $core-color-brand;
$color-fg-action-base-hovered: functions.dark($core-color-brand, 40%);
$color-fg-action-base-active: functions.dark($core-color-brand, 20%);
$color-fg-action-base-selected: functions.dark($core-color-brand, 60%);

$color-fg-static-base: functions.dark($core-color-neutral, 80%);
$color-fg-static-base-inverse: $core-color-white;
$color-fg-static-subdued: functions.dark($core-color-neutral, 30%);
$color-fg-static-subtle: $core-color-neutral;

$color-stroke-action-base-default: $core-color-brand;
$color-stroke-action-base-hovered: functions.dark($core-color-brand, 40%);
$color-stroke-action-base-active: functions.dark($core-color-brand, 20%);
$color-stroke-action-base-selected: functions.dark($core-color-brand, 60%);
$color-stroke-action-muted-default: $core-color-transparent;
$color-stroke-action-muted-hovered: functions.light($core-color-brand, 90%);
$color-stroke-action-muted-active: $core-color-transparent;
$color-stroke-action-muted-selected: functions.light($core-color-brand, 90%);

$color-stroke-static-base: $core-color-neutral;
$color-stroke-static-subdued: functions.light($core-color-neutral, 50%);
$color-stroke-static-info: $core-color-blue;
$color-stroke-static-success: $core-color-green;
$color-stroke-static-warning: $core-color-yellow;
$color-stroke-static-danger: $core-color-red;
$color-stroke-static-accent: $core-color-accent-1;
$color-stroke-static-base-inverse: $core-color-white;

$color-fg-action-base-visited: $core-color-accent-2;
$color-bg-action-base-focus: $core-color-accent-1;

